.container {
  display: flex;
  justify-content: center;
}

.img-box {
  background: #fff;
  height: 100px;
  width: 100px;
  margin: 1rem;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.img-box img {
  max-height: 100px;
  max-width: 100px;
}